.rmodal {
	position: fixed;height:100%;width:100%;
	top:0;left:0;z-index: 1000;

	.transition(all);
	background: #FFF;
	.transition(all);
	.rmodal-content {overflow:auto;padding:0 20px;
		height:100%;width:100%;
	}
	&.show {
		z-index: 1000;
		display: block;
		opacity:1;
		.translate(0,0);
	}

}

body.rmodal-show {
	overflow: hidden;
	height:100%;
	-webkit-overflow-scrolling:none;
	.rmodal-mask {
		opacity:1;
	}
}
/* Mask */
.rmodal-mask {
	.transition(all);
	content:" ";width:100%;height:100%;position: absolute;
	background: rgba(0,0,0,.5);
	top: 0;opacity: 0;
}

/* Directions */
.rmodal-left-transform {
	&.show .rmodal-dialog {
		.translate(0,0);
	}
	.translate(-100%,0);
	height:100%;width:80%;
}
.rmodal-left {
	&.show .rmodal-dialog {
		.translate(0,0);
	}
	.translate(-100%,0);
	height:100%;width:80%;
}
.rmodal-right {
	&.show .rmodal-dialog {
		.translate(20%,0);
	}
	.translate(-100%,0);
	height:100%;width:80%;
}

.rmodal-bottom {
	&.show .rmodal-dialog {
		.translate(0,20%);
	}
	.translate(0,100%);
	height:80%;width:100%;
}
.rmodal-top {
	&.show .rmodal-dialog {
		.translate(0,0);
	}
	.translate(0,-100%);
	height:80%;width:100%;
}
